@define-color base   #24273a;
@define-color mantle #1e2030;
@define-color crust  #181926;

@define-color text     #cad3f5;
@define-color subtext0 #a5adcb;
@define-color subtext1 #b8c0e0;

@define-color surface0 #363a4f;
@define-color surface1 #494d64;
@define-color surface2 #5b6078;

@define-color overlay0 #6e738d;
@define-color overlay1 #8087a2;
@define-color overlay2 #939ab7;

@define-color blue      #8aadf4;
@define-color lavender  #b7bdf8;
@define-color sapphire  #7dc4e4;
@define-color sky       #91d7e3;
@define-color teal      #8bd5ca;
@define-color green     #a6da95;
@define-color yellow    #eed49f;
@define-color peach     #f5a97f;
@define-color maroon    #ee99a0;
@define-color red       #ed8796;
@define-color mauve     #c6a0f6;
@define-color pink      #f5bde6;
@define-color flamingo  #f0c6c6;
@define-color rosewater #f4dbd6;


@keyframes blink {
    to {
        background-color: @base;
        color: @text;
    }
}

* {
    border: none;
    border-radius: 0;
    font-family: CaskaydiaCove Nerd Font Mono Light, monospace;
    font-size: 14px;
}

window#waybar {
    background: transparent;
    transition: all 0.3s ease-in-out;
}

window#waybar.hidden {
    opacity: 0.5;
}

#workspaces {
    background-color: transparent;
}

#workspaces button {
    all: initial; /* Remove GTK theme values (waybar #1351) */
    min-width: 0; /* Fix weird spacing in materia (waybar #450) */
    box-shadow: inset 0 -3px transparent; /* Use box-shadow instead of border so the text isn't offset */
    padding: 6px 12px;
    margin: 6px 3px;
    border-radius: 8px;
    color: @text;
    background: @base;
    transition: all 0.3s ease-in-out;
}

#workspaces button.active {
    background-color: @mauve;
    color: @base;
    transition: all 0.3s ease-in-out;
}

#workspaces button:hover {
    box-shadow: inherit;
    text-shadow: inherit;
    background-color: @rosewater;
    color: @base;
}

#workspaces button.urgent {
    background-color: @red;
}

#submap, #clock, #custom-weather, #pulseaudio, #cpu, #memory, #temperature, #battery, #tray, #idle_inhibitor, #custom-notification {
    border-radius: 8px;
    margin: 6px 3px;
    padding: 6px 12px;
    color: @base;
}

#clock, #custom-weather {
    background-color: @mauve;
}

#submap {
    background-color: @rosewater;
}

#pulseaudio {
    background-color: @flamingo;
}

#cpu {
    background-color: @yellow;
}

#cpu.warning {
    background-color: @peach;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: 4;
    animation-direction: alternate;
}

#cpu.critical {
    background-color: @red;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#memory {
    background-color: @green;
}

#memory.warning {
    background-color: @peach;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: 4;
    animation-direction: alternate;
}

#memory.critical {
    background-color: @red;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#temperature {
    background-color: @teal;
}
#temperature.critical {
    background-color: @red;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#battery {
    background-color: @blue;
}

#battery.charging {
    background-color: @sapphire;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: 4;
    animation-direction: alternate;
}

#battery.warning {
    background-color: @peach;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: 4;
    animation-direction: alternate;
}

#battery.critical {
    background-color: @red;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#tray {
    background-color: @base;
}

#idle_inhibitor {
    background-color: @pink;
}

#idle_inhibitor.deactivated {
    background-color: @base;
    color: @text;
}

#custom-notification {
    background-color: @mauve;
}

#custom-notification.dnd-none, #custom-notification.dnd-notification {
    background-color: @base;
    color: @text;
}
